div.note-footer button {
    margin-left: 9px;
}

div.add-btn {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    width: 60px;
    height: 50px;
    background: lightgreen;
    position: fixed;
    z-index: 5000;
    top: 20px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all ease-in-out .1s;
    line-height: 50px;
}

div.new-note {
    position: fixed;
    top: 80px;
    z-index: 5000;
    transition: all ease-in-out .2s;
    min-height: 240px;
    width: 200px;
    background-color: lightgreen;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    margin: 5px;
    font-family: Shadows Into Light, Arial;
    padding-bottom: 50px;
}

div.add-btn:hover {
    transform: scale(1.1);
}

div.add-btn:active {
    transform: scale(1);
}

div.edit-task.sticky-note-task,
div.editable-note-task-container {
    padding: 0;
}
div.edit-task.sticky-note-task i:hover {
    cursor: pointer;
}

/* NEW NOTE */

div.note-footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 9px;
    font-family: sans-serif;
}

div.new-note input[type="text"] {
    background: transparent;
    border: none;
}

div.new-note input.title {
    font-size: 20px;
}

div.new-note input.task {
    width: 130px;
}

div.new-note input[type="text"]:active,
div.new-note input[type="text"]:focus,
div.new-note input[type="text"]:visited {
    border: none;
    outline: none;
}

button.note-save-btn {
}

div.editable-note-task-container {
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*height: 140px;*/
}

select.editable-priority-select {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
